<div class="title">
    <div class="title__inner">
        <div class="title__logo">
            <img src="https://avatars2.githubusercontent.com/u/23046884?s=460&u=cffc30b6c99ab0529c67e96c666232e5ddec9986&v=4"
                 alt="">
        </div>
        <div class="title__text">
            <h1>
                {{site.title | escape}}
                <a href="http://github.com/full-stop" target="_blank"><i class="fa fa-github"></i></a>
                <a href="mailto:sgt_ah@163.com"><i class="fa fa-envelope"></i></a>
            </h1>
            <p>{{site.subtitle | escape}}</p>
        </div>
    </div>
</div>