<!DOCTYPE html>
<html lang="zh-Hans">
{% include head.html %}
<body>
<section class="wrapper">
    <header>
        {% include nav.html %}
        {% if page.url == '/' %}
        {% include title.html %}
        {% endif %}
    </header>
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
</section>
</body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSDDWPC"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>
